<footer class="v-footer-section">
  <div class="container">
    <div class="row gy-5 justify-content-center text-center text-lg-start">
      
      <div class="col-lg-4 text-center text-lg-start">
        <h3 class="fw-bolder text-white mb-4 letter-spacing-1">TERRA<span class="v-text-red">MOVE</span></h3>
        <p class="v-footer-text pe-lg-4">
          Gépi földmunka, sittszállítás, teherfuvarozás és nyílászáró szerviz – gyorsan, precízen, megbízhatóan.
        </p>
      </div>

      <div class="col-lg-4 text-center">
        <h5 class="text-white fw-bold mb-4 text-uppercase letter-spacing-1">Gyors elérés</h5>
        <ul class="list-unstyled v-footer-links d-inline-block text-start">
          <li><a href="/kezdolap"><i class="bi bi-chevron-right me-2 v-text-red"></i>Kezdőlap</a></li>
          <li><a href="/szolgaltatasok"><i class="bi bi-chevron-right me-2 v-text-red"></i>Szolgáltatásaink</a></li>
          <li><a href="/araink"><i class="bi bi-chevron-right me-2 v-text-red"></i>Áraink</a></li>
        </ul>
      </div>

      <div class="col-lg-4 text-center text-lg-start">
        <h5 class="text-white fw-bold mb-4 text-uppercase letter-spacing-1">Kapcsolat</h5>
        
        <div class="v-contact-wrapper">
          
          <a href="tel:+36707287316" class="v-contact-item">
            <div class="v-icon-square">
              <i class="bi bi-telephone-fill"></i>
            </div>
            <div class="text-content">
              <span class="label">Hívjon minket:</span>
              <span class="value">+36 70 728 7316</span>
            </div>
          </a>

          <a href="mailto:terramoveinfo@gmail.com" class="v-contact-item">
            <div class="v-icon-square">
              <i class="bi bi-envelope-fill"></i>
            </div>
            <div class="text-content">
              <span class="label">Írjon nekünk:</span>
              <span class="value">terramoveinfo&#64;gmail.com</span>
            </div>
          </a>

          <div class="v-social-links mt-3">
            <a href="https://www.facebook.com/profile.php?id=61588377595699" target="_blank" title="Facebook oldalunk">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.instagram.com/sittransport_?igsh=MWRjMmU2MTg3cnl0aA%3D%3D&utm_source=qr" target="_blank" title="Instagram oldalunk">
              <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.tiktok.com/@sitttransport?_r=1&_t=ZN-96CObOIqWO6" target="_blank" title="TikTok videóink">
              <i class="bi bi-tiktok"></i>
            </a>
          </div>

        </div>

      </div>
    </div>

    <hr class="v-footer-divider">

    <div class="text-center">
      <p class="v-footer-text mb-0">
        &copy; 2026 TERRAMOVE. Minden jog fenntartva.
      </p>
    </div>
  </div>
</footer>