<nav class="v-navbar ">
  <div class="container v-nav-container">
    
    <a class="v-logo" routerLink="/" (click)="closeMenu()">
      Terra<span class="logo-badge">Move</span>
    </a>

    <div class="v-desktop-menu d-none d-lg-flex">
      <a class="v-nav-link" routerLink="/kezdolap" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Kezdőlap</a>
      <a class="v-nav-link" routerLink="/araink" routerLinkActive="active">Áraink</a>
      <a class="v-nav-link" routerLink="/galeria" routerLinkActive="active">Galéria</a>
      <a class="v-nav-link" routerLink="/szolgaltatasok" routerLinkActive="active">Szolgáltatások</a>
      
      <a href="tel:+36707287316" class="v-btn v-btn-primary ms-5">
        <i class="bi bi-telephone-fill me-2"></i> +36 70 728 7316
      </a>
            <a href="mailto:terramoveinfo@gmail.com" class="v-btn v-btn-primary ms-2">
        <i class="bi bi-envelope-fill "></i>
      </a>
    </div>

    <button class="v-hamburger d-lg-none" [class.open]="isMenuOpen" (click)="toggleMenu()" aria-label="Menü">
      <span></span>
      <span></span>
      <span></span>
    </button>

  </div>
</nav>

<div class="v-mobile-menu" [class.open]="isMenuOpen">
  <div class="v-mobile-menu-content">
    
    <a class="v-mobile-link" routerLink="/kezdolap" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">
      Kezdőlap
    </a>
    <a class="v-mobile-link" routerLink="/araink" routerLinkActive="active" (click)="closeMenu()">
      Áraink
    </a>
    <a class="v-mobile-link" routerLink="/galeria" routerLinkActive="active" (click)="closeMenu()">
      Galéria
    </a>
    <a class="v-mobile-link" routerLink="/szolgaltatasok" routerLinkActive="active" (click)="closeMenu()">
      Szolgáltatások
    </a>
 
    
    <div class="v-mobile-contact mt-5 pt-4 border-top">
      <p class="text-uppercase letter-spacing-1 text-secondary mb-3" style="font-size: 0.8rem; font-weight: 800;">
        Azonnali kapcsolat
      </p>
      <a href="tel:+36707287316" class="v-btn v-btn-primary w-100" (click)="closeMenu()">
        <i class="bi bi-telephone-fill me-2"></i> +36 70 728 7316
      </a>
      <a href="mailto:terramoveinfo@gmail.com" class="v-btn v-btn-primary w-100 mt-2" (click)="closeMenu()">
        <i class="bi bi-envelope-fill me-2"></i> terramoveinfo&#64;gmail.com
      </a>
    </div>

  </div>
</div>